*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}


/* navbar-section */


.menubar-section{
    background-color: #EB6076;
}
.menubar-section ul{
    list-style-type: none;
    
}
.menubar-section ul li{
    display: inline-block;
}
.menubar-section ul li a {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    padding: 20px 40px;
    font-weight: 700;
    text-decoration: none;
    transition: .4s all;
}
.menubar-section ul li a:hover{
    background-color: #E3273A;
}

/* top-section */
.flex-container{
    display: flex;
}
.top-section{
    margin-bottom: 100px;
}
.half-width{
    max-width: 50%;
}
.top-banner-section-content{
    padding: 6% 8%;
}
.top-banner-section-content h1 {
    font-size: 45px;
    padding: 15px 0;
    color: #E3273A;
}
.skip-color{
    color: #FB934A;
}
.top-banner-section-content p {
    color: #000;
    font-size: 20px;
    padding: 10px 0 35px 0px;
    font-weight: 300;
}
.default-btn {
    text-decoration: none;
    font-size: 20px;
    background: linear-gradient(rgb(224, 149, 9), rgb(233, 37, 3));
    padding: 12px 25px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    box-shadow: 1px -1px 10px -1px#eb6076;
}
.top-banner-section-content{
   margin-top: 2%;
}
.top-banner-section-image  img{
    margin-top: 15%;
    max-width: 70%;
} 

/* AboutME-Section */
.about-me{
    background: url("img/7.png") no-repeat;
    
}


.about-me-image img{
    max-width: 100%;
    padding: 2% 10%;
}

.about-me-content{
    padding: 17% 7%;
}
.about-me-content h1 {
    color: #1D1D1F;
    font-size: 40px;
    padding: 3% 0px;
}
.about-me-content p {
    color: brown;
    font-size: 18px;
    padding-bottom: 8%;
}
.jhankar-color{
    color: #EB6076;
    font-weight: 700;
    cursor: pointer;
}

/* recipies-section */
.recipies{}
.text{
    text-align: center;
}
.text h1{
    color: #EB6076;
    font-size: 40px;
}

.text p{
    color:#666 ;
    padding: 1% 0;
    margin:0 auto;
    text-align: justify;
    width: 400px;
    font-size: 18px;
    font-weight: 400;
}

.recipies-container{
    display: flex;
    
}
.recipies-item {
    max-width: 33.33%;
    padding: 2% ;
    margin: 4%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -2px #aaaaaa;
}
.recipies-item h1{
    font-family: 'Courier New', Courier, monospace;
    color: #1D1D1D;
    padding: 4% 0;
    font-weight: 700;
    font-size: 25px;
}
.recipies-item p{
    padding: 2% 0;
    color: #666;
    font-size: 16px;
    line-height: 1.7rem;
    text-align: justify;
    font-weight: 300;
}
.recipe-color{
    color: #DF2534;
}
.recipies-item img{
    max-width: 100%;
    border-radius:20px;
}


/* Footer-Section */

.footer-content{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}
.footer-content h2{
    font-size: 25px;
    padding: 10px 0;
}
.food-color{
    color:#EB6076
}
.footer-content p{
    font-size: 14px;
    font-weight: 100;
}
